# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache files
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets

# Entity Framework
*.mdf
*.ldf
*.ndf

# Environment files
.env
.env.local
.env.development
.env.production

# Docker
.dockerignore

# Test Results
**/TestResults/

# VIM FILES
**/*~

# Build outputs
**/Properties/PublishProfiles
